/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  display: inline-block;
}
img {
  vertical-align: middle;
}
body{
  background-image: url("https://khhrdi.kcg.gov.tw/images/kh_bg8.gif");
}
.container {
  font-size: 14px;
  margin: 0 auto;
  width: 960px;
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: #150185;
  color: white;
  padding: 16px 24px;
}
.nav-list{
  display: flex;
}
.nav-list a{
  color: white;
  padding-left:8px;
  padding-right:8px;
}
.image {
  width: 100%;
}
.main {
  display: flex;
}
.left-sidebar {
  width: 30%;
}
.left-list {
  background-color: #83eff1;
  padding: 16px;
  border-top: solid 5px #72dddf;
  border-bottom: solid 5px #72dddf;
}
.left-item{
  border-bottom: 1px solid white;
}
.left-item a {
  color: white;
  padding: 8px 8px;
  letter-spacing: 2px;
  font-weight: 600;
  text-shadow: -1px -1px 0px #37a4a5, 0px -1px 0px #37a4a5, 1px -1px 0px #37a4a5, -1px 0px 0px #37a4a5,
    1px 0px 0px #37a4a5, -1px 1px 0px #37a4a5, 0px 1px 0px #37a4a5, 1px 1px 0px #37a4a5;
}
.center {
  width: 40%;
  padding-left: 20px;
  padding-right: 20px;
}
.right-sidebar {
  width: 30%;
}
.mb-1 {
  margin-bottom: 8px;
}
.mb-2 {
  margin-bottom: 16px;
}
.mb-3 {
  margin-bottom: 24px;
}
.btn {
  background-color: #1e57a2;
  color: white;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
}
.title {
  font-size: 20px;
  border-bottom: 3px solid #2c86aa;
  padding-bottom: 10px;
}
.news-item {
  border-bottom: 1px solid #ccc;
  padding-top: 10px;
  padding-bottom: 10px;
}
.news-item a {
  color: #58656c;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.footer {
  padding: 16px 24px;
  text-align: center;
  background: linear-gradient(#e6e6e6, white);
  font-size: 12px;
}
